body {
	margin: 0;
}

#preload {
	visibility: visible;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	right:0;
	left:0;
	bottom:0;
	z-index: 10;
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;
}
.menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}

#video-area {
	position: fixed;
	top: 0;
	right:0;
	left:0;
	bottom:0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*動画の位置＆サイズ*/
video {
	top: 0;
	right:0;
	left:0;
	bottom:0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.headline {
	display: flex;
	align-items: center;
}

.headline:before,
.headline:after {
	content: "";
	flex-grow: 1;
	height: 1px; /* 線の太さ */
	background: #000; /* 線の色 */
	margin:0 2em; /* 文字と線の余白 */
}

.container {
	display: flex;
	flex-flow: column;
}

.sentence-phone {
	width: fit-content; /* pタグ自身の横幅を、pタグ内の最大文字幅に合わせて可変にする */
	margin: 0 auto;     /* pタグ自身の位置を中央に配置（画面の最大横幅から、pタグのwidthを引いた余りの横幅分を左右に設ける）*/
	text-align: left;   /* pタグの中身(<p>に囲まれた文字)の位置を左寄せに配置 */
	font-size: clamp(12px, 2vw, 24px);
}
.sentence-pc {
	width: 90vw;
	margin: 0 auto;     /* pタグ自身の位置を中央に配置（画面の最大横幅から、pタグのwidthを引いた余りの横幅分を左右に設ける）*/
	text-align: left;   /* pタグの中身(<p>に囲まれた文字)の位置を左寄せに配置 */
	font-size: clamp(12px, 2vw, 24px);
}
/*　画面サイズが767px以下の場合読み込む　*/
@media screen and (max-width:767px) {
	.sentence-pc {
		display: none; /* html側に記述されているクラスが「sentencee-pc」のタグを消す */
	}
}
/*　画面サイズが768px以上の場合読み込む　*/
@media screen and (min-width:768px) {
	.sentence-phone {
		display: none; /* html側に記述されているクラスが「sentencee-phone」のタグを消す */
	}
}
.sentence-center {
	width: fit-content; /* pタグ自身の横幅を、pタグ内の最大文字幅に合わせて可変にする */
	margin: 0 auto;     /* pタグ自身の位置を中央に配置（画面の最大横幅から、pタグのwidthを引いた余りの横幅分を左右に設ける）*/
	text-align: left;   /* pタグの中身(<p>に囲まれた文字)の位置を左寄せに配置 */
	font-size: clamp(12px, 2vw, 24px);
}


.music-sentence {
	margin: 0 auto;     /* pタグ自身の位置を中央に配置（画面の最大横幅から、pタグのwidthを引いた余りの横幅分を左右に設ける）*/
	text-align: left;   /* pタグの中身(<p>に囲まれた文字)の位置を左寄せに配置 */
	font-size: clamp(12px, 1.8vw, 18px);
}

/*　画面サイズが767px以下の場合読み込む　*/
@media screen and (max-width:767px) {

	.music-sentence {
		width: 100%; /* pタグ自身の横幅を、pタグ内の最大文字幅に合わせて可変にする */
	}
}

/*　画面サイズが768px以上の場合読み込む　*/
@media screen and (min-width:768px) {
	.music-sentence {
		width: 90vw;
	}
}

.lyrics-headline {
	width: fit-content; /* pタグ自身の横幅を、pタグ内の最大文字幅に合わせて可変にする */
	margin: 0 auto;     /* pタグ自身の位置を中央に配置（画面の最大横幅から、pタグのwidthを引いた余りの横幅分を左右に設ける）*/
	text-align: center;   /* pタグの中身(<p>に囲まれた文字)の位置を中央に配置 */
	font-size: clamp(16px, 2vw, 24px);
}

.lyrics {
	width: fit-content; /* pタグ自身の横幅を、pタグ内の最大文字幅に合わせて可変にする */
	margin: 0 auto;     /* pタグ自身の位置を中央に配置（画面の最大横幅から、pタグのwidthを引いた余りの横幅分を左右に設ける）*/
	text-align: center; /* pタグの中身(<p>に囲まれた文字)の位置を中央に配置 */
	font-size: clamp(12px, 1.8vw, 18px);
}

/*　画面サイズが767px以下の場合読み込む　*/
@media screen and (max-width:767px) {
	img {
		display: block;
		width: 100%;
		object-fit: contain;
	}
}

/*　画面サイズが768px以上の場合読み込む　*/
@media screen and (min-width:768px) {
	img {
		display: block;
		margin: 0 auto; /* imgタグ自身の位置を中央に配置（画面の最大横幅から、imgタグのwidthを引いた余りの横幅分を左右に設ける）*/
		width: 40vw;
	}
}